/* About Page */

.summary {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2vh;
    gap: 5vw;
    margin-bottom: 10vw;
}

.summary img {
    min-width: 50%;
    max-width: 100%;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
}

.photo img {
    min-height: 50vh;
    min-width: 50vh;
}

.photo p {
    font-size: 3vh;
    text-align: center;   
}
