.about-page {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.header a {
  text-decoration: none;
}

body {
  background-color: #000000;
}

.about-page .div {
  background-color: #000000;
  width: 1280px;
  height: 1605px;
  position: relative;
}

.about-page .big-about-page {
  position: absolute;
  width: 588px;
  height: 710px;
  top: 221px;
  left: 39px;
  object-fit: cover;
}

.about-page .text {
  position: absolute;
  width: 271px;
  height: 295px;
  top: 1031px;
  left: 54px;
  object-fit: cover;
}

.about-page .img {
  width: 271px;
  left: 955px;
  position: absolute;
  height: 295px;
  top: 1031px;
  object-fit: cover;
}

.about-page .text-2 {
  width: 266px;
  left: 507px;
  position: absolute;
  height: 295px;
  top: 1031px;
  object-fit: cover;
}

.about-page .text-wrapper {
  position: absolute;
  width: 604px;
  top: 220px;
  left: 661px;
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.about-page .p {
  position: absolute;
  width: 269px;
  top: 1355px;
  left: 56px;
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.about-page .text-wrapper-2 {
  position: absolute;
  width: 269px;
  top: 1355px;
  left: 495px;
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.about-page .text-wrapper-3 {
  position: absolute;
  width: 269px;
  top: 1325px;
  left: 951px;
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.about-page .header {
  position: absolute;
  width: 1280px;
  height: 150px;
  top: 0;
  left: 0;
  background-color: #f6b101;
}

.about-page .logo {
  position: absolute;
  width: 65px;
  height: 65px;
  top: 43px;
  left: 17px;
  object-fit: cover;
}

.about-page .text-wrapper-4 {
  position: absolute;
  width: 208px;
  top: 52px;
  left: 102px;
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.about-page .text-wrapper-5 {
  position: absolute;
  width: 90px;
  top: 52px;
  left: 466px;
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.about-page .text-wrapper-6 {
  position: absolute;
  width: 102px;
  top: 52px;
  left: 576px;
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  color: #db4040;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.about-page .text-wrapper-7 {
  position: absolute;
  width: 95px;
  top: 52px;
  left: 698px;
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.about-page .text-wrapper-8 {
  position: absolute;
  width: 85px;
  top: 52px;
  left: 813px;
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.about-page .email {
  position: absolute;
  width: 64px;
  height: 46px;
  top: 52px;
  left: 1175px;
}

.about-page .footer {
  position: absolute;
  width: 1280px;
  height: 155px;
  top: 1450px;
  left: 0;
  background-color: #f6b101;
}

.about-page .facebook-icon {
  position: absolute;
  width: 54px;
  height: 57px;
  top: 56px;
  left: 361px;
}

.about-page .instagram-icon {
  position: absolute;
  width: 55px;
  height: 60px;
  top: 56px;
  left: 486px;
}

.about-page .spotify-icon {
  position: absolute;
  width: 62px;
  height: 61px;
  top: 56px;
  left: 605px;
}

.about-page .youtube-icon {
  position: absolute;
  width: 69px;
  height: 60px;
  top: 55px;
  left: 854px;
}

.about-page .twitter-icon {
  position: absolute;
  width: 61px;
  height: 60px;
  top: 55px;
  left: 730px;
  object-fit: cover;
}

@media (max-width: 1100px) {
  .about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .about-page .text-wrapper {
    width: 90vw;
    position: static;
    align-self: center;
    margin: auto;
    font-size: 25px;
  }

  .big-about-page {
    display: none;
  }

  .about-page .text-wrapper-5,
  .about-page .text-wrapper-6,
  .about-page .text-wrapper-7,
  .about-page .text-wrapper-8 {
    width: 20vw;
  }

  .about-page .text,
  .about-page .img,
  .about-page .text-2 {
    width: 40vw;
    align-self: center;
    position: static;
    margin: auto;
  }

  .instagram-icon,
  .facebook-icon,
  .spotify-icon,
  .twitter-icon,
  .youtube-icon {
    width: 30vw;
  }
}
